MQTT_USER=eden
MQTT_PASSWD=*******************

OMADA_SWITCHES=192.168.69.26

DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=eden
DOCKER_INFLUXDB_INIT_PASSWORD=********************
DOCKER_INFLUXDB_INIT_ORG=poweredagay
DOCKER_INFLUXDB_INIT_BUCKET=edenbucket
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=****************
DOCKER_INFLUXDB_DB=power