MYSQL_ROOT_PASSWORD=************
MYSQL_HOST=192.168.69.3
TASMOTA_DEVICES=switch.plug:admin:=************,nas.plug:admin:=************,12vbrick.plug:admin:=************,backup.plug:admin:=************

MIKROTIK_DEVICE=COM6
MIKROTIK_USER=admin
MIKROTIK_PASS==************
MIKROTIK_INTERFACES=ether1:pfsense router,ether2:interface2,ether3:interface3,ether4:interface4,ether5:interface5,ether6:interface6,ether7:interface7,ether8:interface8

APP_PORT = 5021